@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}





body {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
  }
  
  .container {
    background-color: #fff;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 600px;
  }

  .leaderboard{
    margin-top: 3rem;
    font-size: 4rem;
    text-shadow: 1px 1px 1px #000, 
               3px 3px 5px blue; 
  }
  
  h1 {
    font-size: 32px;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  thead {
    background-color: #1877f2;
    color: #fff;
  }
  
  th {
    padding: 10px;
  }
  
  td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  tr .award-icon{
    display: none;
  }
  tr img{
 width: 20%;
    border-radius: 50%;
  }

  tr{
    background-color: #e3f2fd;
  }

  tr:nth-child(1) th {
    background-color: #3f87bac5;
    color: white;
  }

 

  tr:nth-child(1) td {
    background-color: goldenrod;
    color: white;
  }

  tr:nth-child(1) td .award-icon{
    display: block;
    font-size: 4rem;
    color: blue;
  }

  tr:nth-child(2) {
    background-color: silver;
    color: white;
  }

  tr:nth-child(2) td .award-icon{
    display: block;
    font-size: 3rem;
    color: red;
  }

  tr:nth-child(3) {
    background-color: rgb(205, 127, 50);
    color: white;
  }

  tr:nth-child(3) td .award-icon{
    display: block;
    font-size: 2rem;
    color: white;
  }

  tr:hover {
    background-color: #3f87bac5;
  }
  